

label {display: block;}

input[type=text] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid grey;
  background-color: beige;
  color: black;
  border-radius: 10px;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid black;
  background-color: darkkhaki;
}


